---
import MainLayout from "../layouts/MainLayout.astro";
const response = await fetch("http://127.0.0.1:8000/api/posts");
const data = await response.json();
---

<MainLayout title="index page ">
  <h1>Astro</h1>
  <p>Selamat datang di Astro Blog</p>
  {data}
</MainLayout>

<script is:inline>
  const token = localStorage.getItem("token");

  if (!token) {
    window.location.href = "/login";
  }
</script>
